# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.s
*.jar
*.bin
*.hex
*.map

*.eww
*.ewd
*.uvoptx
*.emsession
*.uvprojx
*.emproj
*.emProject
*.ifc
*.icf
*.in

examples\libraries\src\omv*